{% extends 'base.html.twig' %}

{% block body %}
    <div class="block">
        <p class="small">Salut {{ app.user.username }} - <a href="{{ path('logout') }}">{{ 'kork.global.logout'|trans }}</a></p>

        <a href="{{ url('create_game') }}" class="btn btn-inline">{{ 'kork.lobby.create_game'|trans }}</a>
    </div>
{% endblock body %}
