{% extends '@App/base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <p>Salut {{ app.user.username }} - <a href="{{ path('logout') }}"><small>logout</small></a></p>
            <p>Code invitation : <code>{{ app.user.getCurrentCharacter.game.id }}</code></p>
            <hr>
            <h2>JOUR {{ game.currentDay }}</h2>
            <hr>
            <p><strong>{{ character.name }}</strong> | Eau : {{ character.water }} | Nourriture : {{ character.food }} | Santé : {{ character.health }} </p>
            <hr>
            {{ dump(game) }}
        </div>
    </div>
{% endblock %}
